@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "K2D", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

textarea:focus,
input:focus {
  outline: none;
}

p {
  margin: 0;
}

.wrapper {
  width: 75vw;
  height: 93%;
  position: absolute;
  top: 50px;
}

.bg {
  width: 100%;
  height: 200vh;
  overflow: hidden;
  position: relative;
  background: url("./images/bg.jpg");
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-title {
  font-size: 64px;
  position: absolute;
  z-index: 1;
  color: transparent;
  width: 500px;
  line-height: 57px;
  font-family: "K2D", sans-serif;
  letter-spacing: -1px;
  transition: all 2s ease-in-out;
  left: 1600px;
  top: 384px;
  -webkit-text-stroke: 1.3px white;
}

.projects-title {
  font-size: 80px;
  position: absolute;
  z-index: 1;
  color: transparent;
  width: 500px;
  line-height: 57px;
  font-family: "K2D", sans-serif;
  letter-spacing: -1px;
  transition: all 2s ease-in-out;
  left: 1600px;
  top: 384px;
  -webkit-text-stroke: 1.3px white;
}

.show-big-title {
  left: 49px;
}

.water-title {
  color: rgba(4, 7, 197, 0.14);
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.08);
}

.show-btn {
  z-index: 10;
  cursor: pointer;
}

.icon {
  /* display: none; */
  font-size: 30px !important;
  line-height: 0.3 !important;
}

.footer {
  position: absolute;
  z-index: 10;
  width: 300px;
  height: 50px;
  bottom: 0px;
  left: 7px;
}

.small-info {
  font-size: 14px;
  position: absolute;
  color: white;
}

.design-link {
  color: #ff0060;
  text-decoration: none;
}

.images {
  width: 98.9%;
  height: 460px;
  overflow: hidden;
  position: relative;
  border-radius: 28px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  margin: 0 auto;
  top: 4px;

  background-image: url("./images/img1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.projects {
  width: 98.9%;
  height: 460px;
  overflow: hidden;
  position: relative;
  border-radius: 28px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  margin: 0 auto;
  top: 4px;

  background-image: url("./images/projects/01.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Animation */
@keyframes crossFade {
  16% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
}

.image-1 {
  background: url("./images/img1.jpg");
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: inherit;
  transition: all 1s ease-in-out;
  position: absolute;
  animation: crossFade 25s infinite;
  animation-delay: 20s;
}

.image-2 {
  background: url("./images/img2.jpg");
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: inherit;
  transition: all 1s ease-in-out;
  position: absolute;
  animation: crossFade 25s infinite;
  animation-delay: 15s;
}

.image-3 {
  background: url("./images/img3.jpg");
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: inherit;
  transition: all 1s ease-in-out;
  position: absolute;
  animation: crossFade 25s infinite;
  animation-delay: 10s;
}

.image-4 {
  background: url("./images/img4.jpg");
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: inherit;
  transition: all 1s ease-in-out;
  position: absolute;
  animation: crossFade 25s infinite;
  animation-delay: 5s;
}

.image-5 {
  background: url("./images/img5.jpg");
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: inherit;
  transition: all 1s ease-in-out;
  position: absolute;
  animation: crossFade 25s infinite;
  animation-delay: 0s;
}

.prj-1 {
  background: url("./images/projects/01.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: inherit;
  transition: all 1s ease-in-out;
  position: absolute;
  animation: crossFade 25s infinite;
  animation-delay: 20s;
}

.prj-2 {
  background: url("./images/projects/02.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: inherit;
  transition: all 1s ease-in-out;
  position: absolute;
  animation: crossFade 25s infinite;
  animation-delay: 15s;
}

.prj-3 {
  background: url("./images/projects/03.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: inherit;
  transition: all 1s ease-in-out;
  position: absolute;
  animation: crossFade 25s infinite;
  animation-delay: 10s;
}

.prj-4 {
  background: url("./images/projects/04.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: inherit;
  transition: all 1s ease-in-out;
  position: absolute;
  animation: crossFade 25s infinite;
  animation-delay: 5s;
}

.prj-5 {
  background: url("./images/projects/05.jpg");
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: inherit;
  transition: all 1s ease-in-out;
  position: absolute;
  animation: crossFade 25s infinite;
  animation-delay: 0s;
}

.row-gif {
  width: 96px;
  position: absolute;
  z-index: 10;
  left: 47px;
  top: 312px;
  mix-blend-mode: overlay;
  transition: all 5s ease-in-out;
}

.fade {
  opacity: 0;
}

.bottom-box {
  display: flex;
  height: max-content;
  width: 100%;
  background: white;
  position: relative;
  font-size: 17px;
  transition: all 0.5s ease-in-out;
}

.text-box {
  padding: 48px;
  line-height: 25px;
}

.right-box {
  background-color: rgb(160, 146, 181);
  padding: 48px 34px 48px 30px;
  line-height: 25px;
  font-size: 14px;
}

.menu-bar {
  width: 100%;
  height: 48px;
  padding: 20px;
  top: 425px;
  position: sticky;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.menu-box {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: white;
  letter-spacing: 1px;
  position: absolute;
  font-size: 14px;
  left: 52px;
}

.menu-item {
  padding: 14px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: white;
  text-decoration: none;
}

.menu-item:hover {
  background: #232323a0;
}

.icon {
  width: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.icons-box {
  position: absolute;
  display: flex;
  gap: 10px;
  z-index: 10;
  right: 48px;
}

.more {
  display: none;
  position: absolute;
  width: 19px;
  left: 141px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: white;
  text-decoration: none;
  text-decoration: none;
  font-size: 20px;
}

#dropdown-content {
  position: absolute;
  background-color: #252424e8;
  top: 47px;
  transition: top 0.5s;
  width: 100%;
  transition: all 0.7s ease-in-out;
}

.dropdown-icons {
  display: flex;
  flex-direction: column;
  padding: 20px 52px;
  color: white;
  line-height: 25px;
}

.dropdown-icons a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.drop-item {
  transition: all 0.7s ease-in-out;
}

.drop-item:hover {
  color: aqua;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.reveal {
  visibility: visible;
  opacity: 1;
}

.active {
  background: #ff0060;
}

.content-box {
  width: 75vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  position: absolute;
  top: 21px;
  background: white;
  z-index: 1;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.content {
  width: 456px;
  height: 454px;
  position: absolute;
  left: -140px;
  overflow: hidden;
  z-index: 1;
}

.email {
  position: absolute;
  top: 465px;
  right: 41px;
  z-index: 1;
  color: white;
  transition: all 0.5s ease-in-out;
  background: #0e1a366b;
  padding: 6px 14px 9px 17px;
  border-radius: 20px;
}

.black-box {
  width: 234px;
  height: 234px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
}

.title {
  color: white;
  transition: all 0.5s ease-in-out;
}

.logo-big {
  width: 416px;
  top: 563px;
  position: absolute;
  opacity: 0.34;
  z-index: 0;
  left: -163px;
  transition: all 0.5s ease-in-out;
}

.logo-small {
  width: 190px;
  top: 5px;
  position: absolute;
  opacity: 1;
  z-index: 1;
  right: 11px;
  transition: all 0.5s ease-in-out;
}

.rowing-banner {
  position: absolute;
  right: -181px;
  top: -50px;
  width: 488px;
  height: inherit;
  background-color: black;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.rowing-img {
  height: 100%;
  position: relative;
  left: -48px;
}

.arrow-1,
.arrow-2,
.arrow-3 {
  width: 34px;
  position: absolute;
  animation: animate 2s ease-in-out infinite;
  top: -42px;
}

.arrow-2 {
  left: 52px;
}

h4 {
  font-size: 13px;
  letter-spacing: 1.5px;
}

/* @keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
} */

.vertical-banner {
  height: 100vh;
  width: 200px;
  background-color: white;
  position: absolute;
}

.black-overlay {
  width: 0vw;
  height: 0vh;
  background-color: rgba(0, 0, 0, 0.61);
  position: absolute;
  z-index: 100;
  transition: all 1s ease-in-out;
}

.show-overlay {
  width: 100vw;
  height: 100vh;
}

.location-box {
  position: absolute;
  top: 25px;
  right: 50px;
  color: white;
  z-index: 1;
  width: 150px;
  text-align: right;
  font-size: 14px;
  line-height: 17px;
}

.location {
  width: 30px;
  margin-bottom: 7px;
}

/* RESPONSIVE */
@media only screen and (max-width: 1030px) {
  .logo-big {
    top: 610px;
  }
}

@media only screen and (max-width: 1020px) {
  .logo-big {
    top: 610px;
  }
  .email {
    top: 393px;
  }
}

@media only screen and (max-width: 950px) {
  .logo-big {
    top: 634px;
  }

  .bg {
    height: 217vh;
  }
  .rowing-banner {
    height: 160vh;
  }
  .big-title {
    font-size: 57px;
    top: 296px;
    line-height: 53px;
  }
  .projects-title {
    font-size: 57px;
    top: 296px;
  }
  .email {
    top: 393px;
  }
}

@media only screen and (max-width: 1010px) {
  .bottom-box {
    flex-direction: column;
  }

  .bg {
    height: 245vh;
  }

  .big-title {
    font-size: 57px;
    top: 323px;
    line-height: 53px;
    width: 324px;
  }
  .projects-title {
    font-size: 75px;
    top: 364px;
  }
  .sponsors-box {
    padding: 48px 34px 48px 48px;
    width: 100%;
  }
  .rowing-banner {
    display: none;
  }

  .menu-item {
    display: none;
  }

  .home {
    display: flex;
  }

  .more {
    display: flex;
  }
  .email {
    top: 393px;
  }
}

@media only screen and (max-width: 850px) {
  .logo-big {
    top: 700px;
  }
  .email {
    top: 393px;
  }
}

@media only screen and (min-width: 770px) {
  .bg {
    height: 194vh;
  }
}

@media only screen and (max-width: 750px) {
  .logo-big {
    top: 700px;
  }

  .email {
    transform: rotate(-90deg);
    top: 341px;
    right: -14px;
  }
}

@media only screen and (min-width: 730px) {
  .bg {
    height: 200vh;
  }
}

@media only screen and (min-width: 700px) {
  .bg {
    height: 210vh;
  }
}

@media only screen and (min-width: 650px) {
  .bg {
    height: 220vh;
  }
}

@media only screen and (min-width: 580px) {
  .bg {
    height: 207vh;
  }
  .footer {
    bottom: -57px;
  }
}

@media only screen and (max-width: 560px) {
  .bottom-box {
    font-size: 16px;
  }
  .big-title {
    font-size: 48px;
    top: 226px;
    line-height: 43px;
    transform: rotate(-90deg);
  }
  .projects-title {
    font-size: 61px;
    top: 154px;
    transform: rotate(-90deg);
  }
  .show-big-title {
    left: -178px;
  }
  .logo-big {
    top: 776px;
  }
  .email {
    right: -28px;
  }
  .logo-small {
    width: 136px;
  }
  .footer {
    bottom: -73px;
  }
}

@media only screen and (min-width: 550px) {
  .bg {
    height: 207vh;
  }
  .footer {
    bottom: -57px;
  }
}

@media only screen and (min-width: 520px) {
  .bg {
    height: 207vh;
  }
  .footer {
    bottom: -57px;
  }
}

@media only screen and (min-width: 490px) {
  .bg {
    height: 215vh;
  }
  .footer {
    bottom: -57px;
  }
}

@media only screen and (min-width: 470px) {
  .bg {
    height: 220vh;
  }
  .footer {
    bottom: -57px;
  }
}

@media only screen and (min-width: 450px) {
  .bg {
    height: 230vh;
  }
  .footer {
    bottom: -57px;
  }
}

@media only screen and (min-width: 430px) {
  .bg {
    height: 237vh;
  }
  .footer {
    bottom: -57px;
  }
}

@media only screen and (min-width: 370px) {
  .bg {
    height: 260vh;
  }
  .footer {
    bottom: -57px;
  }
}

@media only screen and (min-width: 360px) {
  .bg {
    height: 260vh;
  }
  .footer {
    bottom: -75px;
  }
}

@media only screen and (min-width: 340px) {
  .bg {
    height: 270vh;
  }
  .footer {
    bottom: -75px;
  }
}

@media only screen and (min-width: 330px) {
  .bg {
    height: 280vh;
  }
  .footer {
    bottom: -75px;
  }
}

@media only screen and (min-width: 300px) {
  .bg {
    height: 290vh;
  }
  .footer {
    bottom: -75px;
  }
}

@media only screen and (min-width: 290px) {
  .bg {
    height: 290vh;
  }
  .footer {
    bottom: -91px;
  }
}

@media only screen and (min-width: 270px) {
  .bg {
    height: 330vh;
  }
  .footer {
    bottom: -91px;
  }
}

@media only screen and (min-width: 250px) {
  .bg {
    height: 340vh;
  }
  .footer {
    bottom: -91px;
  }
}

@media only screen and (max-width: 450px) {
  .logo-big {
    top: 900px;
  }
}

@media only screen and (max-width: 380px) {
  .big-title {
    font-size: 43px;
  }
  .projects-title {
    font-size: 61px;
    top: 158px;
  }

  .bottom-box {
    font-size: 15px;
    line-height: 21px;
  }
  .images,
  .projects {
    width: 98.4%;
    top: 2px;
  }
}

/* dropdown */

@media only screen and (min-width: 1020px) {
  .images,
  .projects {
    height: 537px;
    width: 99.2%;
  }
  .dropdown-icons {
    display: none;
  }
  .big-title {
    font-size: 84px;
    line-height: 73px;
    top: 352px;
  }
  .projects-title {
    font-size: 82px;
    top: 435px;
  }
}
